.App {
  font-family: "Work Sans", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
}

.food-list {
  list-style-type: none;
  padding: 0;
}

.expired {
  color: #d47171;
  font-weight: bold;
}

.delete-btn {
  margin-left: 10px;
  background: none;
  border: none;
  color: #f6f6f6;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.2s ease;
}